
html,body,p,footer{
  font-family: Lato;
}
a{
  color: white;
  text-decoration: none;
  height:100px;
  width:100px;
}
a:hover{
  color: black;
}
#container{
  min-height:100%;
  position:relative;
}
#header{
  background:#d9d9ff;
  padding:10px;
}
#body{
  background:10px;
  padding-bottom:60px;
}
#footer{
  position:absolute;
  bottom:0;
  width:100%;
  height:70px;
  background:#d1d1ea;
}
#lol{

  width:100px;
height:100px;
}
#light{
  font-size: 12px;
  font-style: light;
  font-variant: normal;
}
#sidebar{
  padding: 28px;
  line-height: 3;
}
